body {
  background-color: powderblue;
}
h3{
  position: relative;
  right: 0;
  top: 0;
  left: 2400px;
  bottom: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
a:link{
  color:red;
  
}
a:visited{
  color: red;
}

