body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background: white;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
    text-align: center;
}

h2 {
  color: #66BFBF;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #11999E;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
    text-align: center;
}

.top-top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  height: 1230px
}

.top-box {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.bottom-box {
  background-color: red;
  width: 200px;
  height: 200px;
}

.pro {
  text-decoration: underline;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.top-cloud {
  position: absolute;
  right: 991px;
  top: 50px;
}


img[src="images/cloud.png"] {
  position: absolute;
  left: 540px;
  bottom: 800px;
  height: 120px;
  width: 300px;
}

img[src*="images/cloud0.png"] {
  position: absolute;
  left: 1780px;
  bottom: 1100px;
  height: 120px;
  width: 300px;
}

img[src*="images/mountain.png"] {
  position: absolute;
  left: 720px;
  bottom: 0px;
  height: 900px;
  width: 1250px;
}

img[src*="csspic.png"] {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[src*="tennis.png"] {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
